<% include ../partials/header %>

	<header class= "jumbotron">	
		<div>
			<h1> Cosmic Brownie </h1>
			<p>
			The online space brownie delivery tracker
			</p>
			<% if(currentUser){ %>
			<p>
			<a class= "btn btn-primary btn-large"	href="/campgrounds/new">Add New Product</a>
			</p>
			<% } %>
		</div>
	</header>

	<div class"row text-center" style="display:flex; flex-wrap: wrap;">		
		<% campgrounds.forEach(function(campground){ %>
			<div class= "col-md-3 col-sm-6">
				<div class= "thumbnail">
				<a href="/campgrounds/<%= campground._id %>">
					<img src="<%= campground.image %>" >
					</a>
					<div class="caption">
						<h4> <%= campground.name %></h4>
					<div class="shdescription">
						<h6> <%= campground.shdescription %></h6>
					<div class="cost">
						<h6>$ <%= campground.cost %>.00</h6>
					</div>
					</div>
				</div>
				</div>	
			</div>	 
		<% }); %>	
	</div>

		
<% include ../partials/footer %>
